header nav{
    padding: 20px;
    background-color: #893d43;
}
header nav a.navbar-brand{
    color: blanchedalmond;
    font-weight: 700;
    font-size: 30px;
}
header nav a.navbar-brand:hover{
    color: rgb(240, 240, 110);
}
header nav ul li.nav-item{
    margin-right: 20px;
    font-size: 15px;
    font-weight: 600;
}
header nav ul li.nav-item:last-child{
    margin-right: 0;
}
header nav ul li.nav-item a{
    color: white;
}
header nav ul li.nav-item a.nav-link.active{
    color: #b5d6e4;
    font-size: 16px;
    font-weight: 600;
}
header nav li a.bi-cart-fill{
    font-size: 25px;
    color: white;
    text-decoration: none;
    margin-left: 30px;
}
header nav li a.bi-cart-fill sup{
    color: red;
}
a.move-back{
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgb(4, 14, 160);
    color: white;
}
button#place-order-btn{
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: green;
    padding: 10px;
    outline: none;
    border: none;
    color: white;
}
section#hero div.main-banner{
    background-image: url('/image/cafahas.png');
    height: 350px;
    margin: 10px;
    border-radius: 10px;
}
section#products{
    text-align: center;
}
section#products div.items div.product-desc{
    background-color: #be0e84;
    padding: 10px;
    color: #9fffff;
}
section#products div.top-products{
    padding: 20px;
    background-color: #893d43;
    color: white;
    font-weight: 700;
}
section#products div.items img{
    height: 200px;
}
section#products div.items div.product-desc button{
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 10px;

}


/* small screen */
@media (min-width: 576px) { 
    header nav a.navbar-brand{
        color: blanchedalmond;
        font-weight: 700;
        font-size: 30px;
        margin-right: 0;
    }
 }
/* medium screen */
@media (min-width: 768px) { 

}


/* large screen */
@media (min-width: 992px) { 

 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

